body {
  background: $color-fondo-body;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
p,
a,
ul,
li,
code,
em,
strong,
b,
i {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.content-box {
  background: $color-fondo-content;
  padding: 20px 10px;
  width: 75%;
}

.aside-box {
  background: $color-fondo-aside;
  padding: 20px 10px;
  width: 25%;
}

.container {
  display: flex;
}

h2 {
  @include font-size(28);
  color: $color-letra-h2;
  font-family: $fuente-open-sans;
  font-weight: bolder;
  padding-left: 20px;

  &::before {
    background: url('../images-op/characters.png') no-repeat;
    content: '';
    display: block;
    float: left;
    height: 40px;
    width: 40px;
  }
}

.row {
  display: inline-block;
  width: 100%;
}
