.footer {
  background: $color-fondo-footer;
  min-height: 50px;
  padding: 40px 130px;

  &-copyright-info {
    @include font-size(13);
    box-sizing: border-box;
    color: $color-letra-footer;
    float: left;
    font-family: $fuente-quicksand;
    line-height: 1.4;
    padding: 10px;
    width: 400px;
  }

  &-grability-logo {
    float: right;
  }
}
