$color-aliceblue: #f0f8ff;
$color-livid-brown: #2b2525;
$color-black: #000;
$color-whitesmoke: #eaeaea;
$color-athens-grey: #e2e2e2;
$color-sepia: #3b3130;


$color-fondo-header: $color-livid-brown;
$color-fondo-body: $color-whitesmoke;
$color-fondo-aside: $color-athens-grey;
$color-fondo-content: $color-whitesmoke;
$color-letra-h2: $color-sepia;
