$color-aliceblue: #f0f8ff;
$color-athens-grey: #e2e2e2;
$color-black: #000;
$color-gainsboro: #dcdcdc;
$color-livid-brown: #2b2525;
$color-sepia: #3b3130;
$color-suva-grey: #776d6c;
$color-tomato: #e81d22;
$color-white: #fff;
$color-whitesmoke: #eaeaea;


$color-fondo-aside: $color-athens-grey;
$color-fondo-body: $color-whitesmoke;
$color-fondo-boton: $color-tomato;
$color-fondo-content: $color-whitesmoke;
$color-fondo-footer: $color-livid-brown;
$color-fondo-header: $color-livid-brown;
$color-fondo-comic-item: $color-white;
$color-fondo-comic-lightbox: $color-black;
$color-fondo-comic-li-buy: $color-gainsboro;
$color-fondo-comic-li-favourite: $color-livid-brown;

$color-letra-boton: $color-white;
$color-letra-footer: $color-white;
$color-letra-h2: $color-sepia;
$color-fondo-item: $color-white;
$color-letra-p: $color-suva-grey;
$color-letra-menu-favourite: $color-tomato;

