<div class="comic-item">
  <div class="comic-item-row comic-item-info">
    <div class="comic-item-info-left">
      <img class="comic-item-thumbnail" ng-src="{{actualComic.thumbnail}}"/>
    </div>
    <div class="comic-item-info-right">
      <img class="comic-item-close" src="build/images-op/btn-close.png" ng-click="changeActualComic( 'reset' )"/>
      <h3 class="comic-item-title">{{actualComic.title}}</h3>
      <p class="comic-item-description">{{actualComic.description}}</p>
    </div>
  </div>
  <div class="comic-item-row ">
    <ul class="comic-item-menu">
      <li class="comic-item-li comic-item-favourite" ng-click="addFavourite( actualComic.URI )">
        ADD TO FAVOURITES
      </li>
      <li class="comic-item-li comic-item-buy">
        <a href="{{actualComic.url}}" target="_blank">BUY FOR ${{actualComic.price}}</a>
      </li>
    </ul>
  </div>
</div>