<ul class="pagination-list">
  <li ng-show ="lastPage > config.numberPages"  class="pagination-n" ng-click = " config.complement , config.limit, currentPage - 1, config.name ) " >< </li>


  <li class="pagination-n" ng-repeat = "page in  pages" ng-click = " moreResults( config.complement , config.limit, page, config.name ) " ng-show = "( page >= (currentPage) ) && ( page < lastPage ) " >{{page + 1}}</li>

  <li ng-show ="currentPage < ( (total/config.limit) - config.numberPages ) "  class="pagination-n" ng-click = " moreResults( config.complement , config.limit, currentPage + 1 , config.name ) " >></li>

</ul>