@import 'common/mixins';
@import 'common/colors';
@import 'common/typography';

@import 'components/header';
@import 'components/body';
@import 'components/footer';
@import 'components/characters';
@import 'components/favourites';
@import 'components/comic';
@import 'components/pagination';

.logo {
  width: 150px;

  img {
    height: auto;
    max-width: 100%;
  }
}
